/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

html,body{
	background-image: url("assets/candy-wallpaper.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100vh;
}
